<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>Test Post</h2>
  </div>
  <div class="col-md-6">
    <p>Text here</p>
  </div>
</div>
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>Test Post 2</h2>
  </div>
  <div class="col-md-6">
    <p>Text here</p>
  </div>
</div>
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>Test Post 3</h2>
  </div>
  <div class="col-md-6">
    <p> Text Here</p>
  </div>
</div>
