:root {
    --primary-color: #7a7a7a;
    --secondary-color: #6bc2c9;
    --tertiary-color: #7e7e7e;
  }
h1 {
    color: rgb(10, 71, 99);
  }
  * {
    box-sizing: border-box;
  }
  
  
  html {
    padding: 0;
    margin: 0;
    color: #a0a0a0;
    background-color: var(--primary-color);
    position: relative;
  }
  
  body {
    background-color: rgb(156, 156, 156);
  }
  
  .main-body {
    min-height: 100vh;
  }
  
  p {
    color: tert;
  }
  
  a {
    text-decoration: none;
    color: rgb(34, 69, 114);
    font-weight: bold;
    transition: color .1s;
  }
  
  a:hover {
    color: rgb(66, 61, 61);
  }
  
  button {
    background-color: var(--primary-color);
    border: 0;
    padding: 1%;
    color: rgb(45, 49, 51);
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
  }
  
  button:hover {
    background-color:rgb(0, 0, 0, .6);
    color: rgb(71, 88, 95);
  }
  
  .dashboard-btn {
    color: var(--primary-color);
  } 
  
  .post-list {
    margin: 0;
    padding: 0;
    color: rgb(73, 95, 100);
  }
  
  textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
  }
  
  textarea:focus, input:focus {
    outline: none;
    border: 1px solid #ffffff;
  }
  
  textarea {
    max-width: 60%;
    min-height: 100px;
  }
  
  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }
  
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    background-color: var(--secondary-color);
    border-bottom: 1px solid var(--tertiary-color);
  }
  
  header h1 {
    font-size: 3em;
  }
  
  main {
    flex: 1;
    padding: 2% 4%;
  }
  
  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
  }
  
  .btn-no-style:hover {
    background-color:rgb(75, 18, 18);
    color: var(--tertiary-color);
  }
  
  .delete-post-btn {
    background-color:rgb(0, 0, 0);
    color: rgb(0, 0, 0);
  }
  
  .delete-post-btn:hover {
    background-color:rgb(0, 0, 0, .6);
    color: var(--tertiary-color);
  }
  
  .post {
    margin-bottom: 2%;
    line-height: 150%;
  }
  
  .post .title span {
    font-style: italic;
    font-size: 90%;
    color: #ff0000;
  }
 
  
  .edit {
    border-radius: 10px;
    padding-top: 5px;
  }
  
  
  .comment-form {
    margin-bottom: 5%;
  }
  
  
  .comment {
    padding: 1%;
    margin-bottom: 1%;
    background-color:rgba(255, 255, 255, 0.6);
    color: rgb(0, 0, 0);
    width: 100vw;
  }
  
  .comment:nth-child(odd) {
    background-color: var(--primary-color);
    color: white;
  }
  
  .comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
  }
  
  #comment-body {
    opacity: 80%;
    color: rgb(0, 0, 0);
    padding: 5px;
    margin: 5px;
  }
  
  .submit-btn {
    color: rgb(0, 0, 0);
    background-color: var(--tertiary-color);
  }
  
  
  h2,
  label,
  li
  {
    color: black;
  }
  
  .new-post-form input {
    width: 300px;
  }
  
  .edit-title {
    color: black;
  }
  
  .edit-post-form {
    margin-bottom: 5%;
    color: black;
  }
  
  .edit-post-form a {
    color: black;
  }
  
  .edit-post-form a:hover{
    color: #000000;
  }
  
  .btn {
    color: rgb(148, 202, 233);
    background-color: var(--tertiary-color);
    font-weight: bold;
  }
  
  .btn:hover{
    color: #51b3f5;
  }
  
  footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: var(--secondary-color);
    border-top: 1px solid #0c1b5e;
    padding: 1%;
    text-decoration: none;
  }
  
  footer h3 {
    color: #2f3a53;
  }
  
  footer a {
    color: #10315f;
  }
  
  footer a:hover{
    color: #338db1;
  }
  
  .post {
    background-color: var(--primary-color);
    margin: auto;
    justify-content: center;
    color: black;
    border: 1px solid #0a3e79;
    opacity: 80%;
  }
  
  .post p {
    color: black;
  }
  
  .post a{
    color: #000000;
  }
  
  .card a:hover {
    color: #ffffff;
    text-shadow: 1px 1px #000000;
  
  }
  
  .meta a {
    color: #000000;

  
  }
  
  .meta a:hover {
    color: #ffffff;
    text-shadow: 1px 1px #000000;
  
  }
  
  .card {
    opacity: 100%;
    background-color: var(--primary-color);
  }